{% extends 'base.html' %}
{% block content %}
<h1>Book View</h1>
<table>
    <tr>
        <th>ID:</th>
        <td>{{ object.id }}</td>
    </tr>
    <tr>
        <th>Tytuł:</th>
        <td>{{ object.title }}</td>
    </tr>
    <tr>
        <th>Autor:</th>
        <td>{{ object.author }}</td>
    </tr>
    <tr>
        <th>Wydawca:</th> 
        <td>{{ object.publisher }}</td>
    </tr>
    <tr>
        <th>ISBN:</th> 
        <td>{{ object.ISBN }}</td>
    </tr>
    <tr>
        <th>Opis:</th> 
        <td>{{ object.description }}</td>
    </tr>
    <tr>
        <th>Data Wprowadzenia:</th> 
        <td>{{ object.insert_date }}</td>
    </tr>
    <tr>
        <th>Wypożyczono:</th> 
        <td>{{ object.borrowed }}</td>
    </tr>
    {% if object.borrowed %}
    <tr>
        <th>Wypożyczono:</th> 
        <td>{{ object.borrowed }}</td>
    </tr>
    {% endif %}    
    <tr>
        <th>Tom:</th> 
        <td>{{ object.volume }}</td>
    </tr>    
</table>

{% endblock %}