<div id='container'>
    <nav id='menu'>
        <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
        <ul>
          <li><a href='/'>Strona Główna</a></li>
          <li><a href='/dodajwolumin'>Dodaj Wolumin</a></li>
          <li><a href='/dodajczytelnika'>Dodaj Czytelnika</a></li>
          <li><a href='/wypozycz'>Wypożycz</a></li>
          <li><a href='http://'>Zwróć</a></li>
          <li><a class='dropdown-arrow' href='http://'>Wyszukaj  🔎</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Książkę</a></li>
              <li><a href='http://'>Czytelnik</a></li>
            </ul>
          </li>
          <li><a class='dropdown-arrow' href='http://'>Wyświetl Listę 🕮</a>
            <ul class='sub-menus'>
              <li><a href='http://'>Książek</a></li>
              <li><a href='http://'>Czytelników</a></li>
          
            </ul>
          </li>
          <li><a href='/podglangksiazka'>Podgląd Ksiązki</a></li>
        </ul>
    </nav>
    </div>